.contador-container{
   display: flex; 
   flex-direction: column;
   padding: 5rem;
   justify-content: center;
   align-items: center;
}

.buttons-container{
   display: flex;
   width: 20%;
   justify-content: space-around;
   align-items: center;
}

.btn-modify{
   width: 3rem;
   height: 3rem;
   border-radius: 1rem;
   cursor: pointer;
   transition: 0.2s;
}

.btn-modify:hover{
   transform: scale(1.05);
   transition: 0.2s;
}